<!-- views/partials/main.ejs -->

<% articles.forEach(function(article){ %>
  <article>
    <header>
      <h1><%= article.title %></h1>
      <p>Published: <time><%= article.time %></time></p>
    </header>
    <% if (article.image) { %>
      <img src="<%= article.image.url %>" alt="<%= article.image.name %>">
    <% } %>
    <p><%= article.description%></p>
  </article>
<% }); %>